body {
  font-family: sans-serif;
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
  background-color: #222;
  color: #e6e6e6;
  border-color: #e6e6e6;
}

table#appunti {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#appunti th {
  border: 2px solid white;
  font-weight: bold;
}
table#appunti th, table#appunti td {
  padding: 4px;
  text-align: left;
}

a {
  background: transparent;
  color: blueviolet;
  text-decoration: underline;
  font-weight: bold;
  width: initial;
}

#notice {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}