%h2 Leggi di più

#{link_to 'Home', appunti_index_path}

%table#appunti{:width=>"100%", :border=>"1"}
	%thead
		%tr
			%th Testo
	%tbody
		%td= @appunto.contenuto

#{link_to("Modifica", edit_appunti_path(@appunto))}
#{link_to("Rimuovi", appunti_path(@appunto), method: :delete, data: { confirm: 'Vuoi davvero cancellare il tuo appunto?'})}